[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/numbers.vim"]
	path = vim/bundle/numbers.vim
	url = git@github.com:myusuf3/numbers.vim.git
